[package]
name = "postgis_diesel"
version = "0.2.0"
authors = ["Vitaly Merenkov <vmrnkv@gmail.com>"]
edition = "2018"
description = "An extension for Diesel framework to support PostGIS geometry datatype."
homepage = "https://github.com/vitaly-m/postgis-diesel"
repository = "https://github.com/vitaly-m/postgis-diesel"
readme = "README.md"
keywords = ["PostGIS", "GIS", "GEO", "Diesel"]
license-file = "LICENSE"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
diesel = { version = "1.4", features = ["postgres"] }
postgis = "0.9.0"

[dev-dependencies]
dotenv = "0.15.0"
